# Don't modify this file, it will be overwritten on updates.
# Instead, move stuff/example.cfg to ~/.local/share/osuconfig/configs and modify that.
# You can add more environment variables if needed there.

PRE_LAUNCH_ARGS="${LAUNCH_ARGS:-} ${PRE_LAUNCH_ARGS:-}" # LAUNCH_ARGS for backwards compat
POST_LAUNCH_ARGS="${POST_LAUNCH_ARGS:-}"

WINENTSYNC="${WINENTSYNC:-1}"
WINEFSYNC="${WINEFSYNC:-1}"

# hotfix 31/08/2026: osu!auth.dll started depending on raw syscalls from 32-bit code
# that do not seem to work on SUD (upstream wine), while old Proton approach does.
# forcing wine-cachyos for now.
WINE_USE_CACHY="${WINE_USE_CACHY:-true}"

# keeping esync enabled for legacy builds
WINEESYNC="${WINEESYNC:-1}"

WINE_DISABLE_FULLSCREEN_HACK="${WINE_DISABLE_FULLSCREEN_HACK:-1}"

vblank_mode="${vblank_mode:-0}"

__GL_SYNC_TO_VBLANK="${__GL_SYNC_TO_VBLANK:-0}"

CUSTOMEDITOR="${CUSTOMEDITOR:-nano}"

# reduce possibility of breakage (don't allow env override)
LC_ALL="en_US.UTF-8"
LANG="en_US.UTF-8"
